
   
   
   
   <div class="mycontainer">
      <nav class="navbar navbar-expand-lg navbar-dark bg-light" id="up-nav">

          <div class="collapse navbar-collapse justify-content-between" id="navbarText">

              <div>
                  <span class="navbar-text">
                      NASDAQ: MDLZ $60.85 USD +0.07 (0.12%)
                  </span>
              </div>
              <div>
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                          <a class="scnd-dropdown nav-link" href="#">2020 ESG REPORT</a>
                      </li>
                      <li class="nav-item">
                          <div class="btn-group">
                              <a class="position scnd-dropdown" type="" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false">
                                  INVESTORS <i class='icon f-25 fas fa-angle-down'></i>
                              </a>
                              <div class="dropmenu dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                              </div>
                          </div>
                      </li>
                      <li class="nav-item">
                          <div class="btn-group">
                              <a class="position scnd-dropdown" type="" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false">
                                  MEDIA <i class='icon f-25 fas fa-angle-down'></i>
                              </a>
                              <div class="dropmenu dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                              </div>
                          </div>
                      </li>
                      <li class="nav-item">
                          <div class="btn-group">
                              <a class="position scnd-dropdown" type="" data-toggle="dropdown" aria-haspopup="true"
                                  aria-expanded="false">
                                  COUNTRIES <i class='icon f-25 fas fa-angle-down'></i>
                              </a>
                              <div class="dropmenu dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                              </div>
                          </div>
                      </li>
                      <li class="nav-item active">
                          <a class=" scnd-dropdown nav-link" href="#">CONTACT US</a>
                      </li>
                      <li class="nav-item">
                          <a href="#"><i class="text-dark px-4 f-18 mt-1 fa fa-search"></i></a>
                      </li>
                  </ul>
              </div>

          </div>

      </nav>
  </div>
  <!----------------------------- header  ------------------------------->

  <header class="top-navbar">

      <nav class="py-40 mycontainer bg-navbar navbar navbar-light navbar-expand-xl ">
          <div class="container-fluid mx-navbar">
              <a class="navbar-brand" href="index.html">
                  <img class="nav-logo" src="assets/img/logo.png" alt="">
              </a>
              <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span
                      class="sr-only">Toggle
                      navigation</span>
                  <span class="navbar-toggler-icon">
                      <i class="fas fa-bars" style="color:#fff; font-size:30px;"></i>
                  </span></button>
              <div class="collapse navbar-collapse" id="navcol-1">
                  <ul class="navstyle navbar-nav ml-auto navbar-nav">
                      <li class="position-static nav-item dropdown">
                          <a class="nav-link nav-sty " href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              About Us
                          </a>
                          <div class="w-100 nav-dropdown dropdown-menu" aria-labelledby="navbarDropdown">
                              <div class="container-fluid">
                                  <div class=" row justify-content-md-center justify-content-start">
                                      <div class="col-lg-3 p-2 p-md-4">
                                          <a class="drpdown-sty dropdown-item" href="#">Overview</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Who We Are</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Leadership</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Our way of Doing</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Business</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Diversity and Inclusion</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Marketing Approach</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Mondelēz International
                                              <br> Foundation</a>
                                          <a class="drpdown-sty dropdown-item" href="#">State of Snacking</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Awards</a>
                                      </div>
                                      <div class="position col-lg-3">
                                          <div class="line"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li class="position-static nav-item dropdown">
                          <a class="nav-link nav-sty " href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Our Brands
                          </a>
                          <div class="w-100 nav-dropdown dropdown-menu" aria-labelledby="navbarDropdown">
                              <div class="container-fluid">
                                  <div class=" row justify-content-md-center justify-content-start">
                                      <div class="col-lg-3 p-2 p-md-4">
                                          <a class="drpdown-sty dropdown-item" href="#">See All Brands</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Beverages</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Biscuits and Cookies</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Chocolate</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Gum and Candy</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Meals</a>
                                      </div>
                                      <div class="col-lg-3">
                                          <div class="line"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>

                      <li class="position-static nav-item dropdown">
                          <a class="nav-link nav-sty " href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Snacking Made Right
                          </a>
                          <div class="w-100 nav-dropdown dropdown-menu" aria-labelledby="navbarDropdown">
                              <div class="container-fluid">
                                  <div class=" row justify-content-md-center justify-content-start">
                                      <div class="col-lg-3 p-2 p-md-4">
                                          <a class="drpdown-sty dropdown-item" href="#">Overview</a>
                                          <a class="drpdown-sty dropdown-item" href="#">ESG at MDLZ</a>
                                          <a class="drpdown-sty dropdown-item" href="#">ESG Reporting & Disclosure</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Sustainable Ingredients</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Environmental Impact</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Packaging Innovation</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Social Sustainability</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Mindful Snacking</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Our Positions</a>
                                          <a class="drpdown-sty dropdown-item" href="#">ESG Investment</a>
                                          <a class="drpdown-sty dropdown-item" href="#">ESG News</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Cocoa Life</a>
                                      </div>
                                      <div class="position col-lg-3">
                                          <div class="line"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>
                      <li class="position-static nav-item dropdown">
                          <a class="nav-link nav-sty " href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Careers
                          </a>
                          <div class="w-100 nav-dropdown dropdown-menu" aria-labelledby="navbarDropdown">
                              <div class="container-fluid">
                                  <div class=" row justify-content-md-center justify-content-start">
                                      <div class="col-lg-3 p-2 p-md-4">
                                          <a class="drpdown-sty dropdown-item" href="#">Overview</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Early Careers</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Career Areas</a>
                                          <a class="drpdown-sty dropdown-item" href="#">Our World</a>
                                      </div>
                                      <div class="col-lg-3">
                                          <div class="line"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>

                      <li class="position-static nav-item dropdown">
                          <a class="nav-link nav-sty " href="#" id="navbarDropdown" role="button"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              News
                          </a>
                          <div class="w-100 nav-dropdown dropdown-menu" aria-labelledby="navbarDropdown">
                              <div class="container-fluid">
                                  <div class=" row justify-content-md-center justify-content-start">
                                      <div class="col-lg-3 p-2 p-md-4">
                                          <a class="drpdown-sty dropdown-item" href="#">Press Releases</a>
                                          <a class="drpdown-sty dropdown-item" href="#">All News Stories</a>
                                          <ul class="list">
                                              <li><a class="drpdown-sty dropdown-item" href="#">Brands</a></li>
                                              <li><a class="drpdown-sty dropdown-item" href="#">Business</a></li>
                                              <li><a class="drpdown-sty dropdown-item" href="#">Careers</a></li>
                                              <li><a class="drpdown-sty dropdown-item" href="#">Community Impact</a>
                                              </li>
                                              <li><a class="drpdown-sty dropdown-item" href="#">People</a></li>
                                              <li><a class="drpdown-sty dropdown-item" href="#">Sustainability</a>
                                              </li>
                                              <li><a class="drpdown-sty dropdown-item" href="#">Well-being</a></li>
                                          </ul>
                                      </div>
                                      <div class="position col-lg-3">
                                          <div class="line"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
  </header>
