<%- include('./includes/head.ejs') %> 
</head>
<%- include('./includes/header.ejs') %> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"  />



    <main>
      <div class="container my-5">
        <div class="row">
            <div class="col-lg-6">
                <h5 class="clr-purple">HOME /</h5>
                <h2 class="pur-heading">About US</h2>
            </div>
            <div class="col-lg-6">
                <div class="text-right">
                  <ul class="p-0 d-flex list-unstyled justify-content-end my-icons">
                        <li><a class="px-2" href="#"><i class="about-icon fab fa-facebook-f"></i></i></a>
                        </li>
                        <li><a class="px-2" href="#"><i class="about-icon fab fa-twitter"></i></a></li>
                        <li><a class="px-2" href="#"><i class="about-icon fab fa-linkedin"></i></a></li>
                        <li><a class="px-2" href="#"><i class="about-icon fas fa-envelope"></i></a></li>
                        <li><a class="px-2" href="#"><i class="about-icon fas fa-print"></i> </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    
    <div class="mb-2 h-50p" style="background: url('assets/img/pic.jpg') center / cover no-repeat">
    </div>


    <div class="mycontainer">
        <div class="my-5 row justify-content-between">
            <div class="col-lg-4">
                <h1 class="display-4 pr-5 green">Empowering People to Snack Right</h1>
                <p class="f-18 ">Mondelēz International empowers people to snack right in over 150
                    countries around the
                    world. We're leading the future of snacking with iconic global and local brands such as <em>Oreo,
                        belVita and LU biscuits; Cadbury Dairy Milk, Milka and Toblerone chocolate; Sour Patch Kids
                        candy and Trident gum.</em><br><br>

                    We are one of the largest snack companies in the world with global net revenues of $25.9 billion and
                    net earnings of $3.4 billion in 2018. We make and sell primarily snacks, including biscuits
                    (cookies, crackers and salted snacks), chocolate, gum & candy as well as various cheese & grocery
                    and powdered beverage products.<br><br>

                    We have operations in more than 80 countries and employ around 80,000 in our factories, offices,
                    research & development facilities and distribution activities around the world.<br><br>
                </p>
            </div>
            <div class="col-lg-8">
                <img src="assets/img/purple.jpg" class=" img-fluid" alt="">
                <h5 class="pl-5 font-weight-bold mt-2">OUR PTOMISE TO PROGRESS </h5>
            </div>
        </div>
    </div>
    <div class="my-5 mycontainer">
        <div class="row justify-content-center text-center ">
            <div class="col-lg-6">
                <img src="assets/img/who.jpg" class=" img-fluid" alt="">
                <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">WHO WE ARE <i
                            class='green fas fa-arrow-right'></i></a></h3>
            </div>
            <div class="col-lg-6">
                <img src="assets/img/lead.jpg" class=" img-fluid" alt="">
                <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">Our leadership <i
                            class='green fas fa-arrow-right'></i></a></h3>
            </div>
        </div>
    </div>

    <div class="mt-5 mycontainer">
        <div class="row justify-content-center text-center ">
            <div class="col-lg-6">
                <img src="assets/img/business.jpg" class=" img-fluid" alt="">
                <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">OUR WAY OF DOING BUSINESS <i
                            class='green fas fa-arrow-right'></i></a></h3>
            </div>
            <div class="col-lg-6">
                <img src="assets/img/diversity.jpg" class=" img-fluid" alt="">
                <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">DIVERSITY & INCLUSION <i
                            class='green fas fa-arrow-right'></i></a></h3>
            </div>
        </div>
    </div>

    <div class="mycontainer my-5">
        <h2 class="about-heading">Additional Resources</h2>
        <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="#">MONDELĒZ INTERNATIONAL FACTSHEET </a>
        </h3>
    </div>


    </main>

    <%- include('./includes/footer.ejs') %> 

    
      
      
    