<%- include('./includes/head.ejs') %> 
</head>


<%- include('./includes/header.ejs') %> 
    
    <main>
       
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 my-3">
                <div class="card border-0 my-3">
                        <img src="assets//img/contact1.jpg" class="img-fluid" alt="">
                        <h3 class="link-sty f-20 my-3">  <a href="" class=" hov-clr"> Consumers <i class="ml-1 green fas fa-arrow-right"></i> </a></h3>
                </div>
            </div>
            <div class="col-lg-4 my-3">
                <div class="card border-0 my-3">
                        <img src="assets//img/contact2.jpg" class="img-fluid" alt="">
                        <h3 class="link-sty f-20 my-3">  <a href="" class=" hov-clr"> Consumers <i class="ml-1 green fas fa-arrow-right"></i> </a></h3>
                </div>
            </div>
            <div class="col-lg-4 my-3">
                <div class="card border-0 my-3">
                        <img src="assets//img/contact3.jpg" class="img-fluid" alt="">
                        <h3 class="link-sty f-20 my-3">  <a href="" class=" hov-clr"> Consumers <i class="ml-1 green fas fa-arrow-right"></i> </a></h3>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row justify-content-around">
            <div class="col-lg-6  my-3">
                
                    <h3  class="display-4 green  ">Global Mondelēz International Headquarters</h3>
                    <p class="mt-5 mb-0 p-0 link-sty purple">905 West Fulton Market, Suite 200</p>
                    <p class="mb-0 p-0 link-sty ">Chicago, IL, 60607, USA</p>
                    <p class="mb-0 p-0 link-sty ">Phone: <a href="tel:+1 847-943-4000">+1 847-943-4000 </a></p>
            </div>
            <div class="col-lg-6  my-3">
                <h3 class="display-4 green ">Vulnerability Disclosure Program</h3>
                    <p class="lisk-sty mt-5 ">Mondelēz International takes vulnerability disclosures seriously and appreciates security researchers’ efforts. Mondelēz International is committed to establishing a transparent and open communication with researchers.
                    </p>
                    <br> 

                    <p class="list-sty">If you believe you have discovered a security issue in one of our systems, please notify us immediately through our vulnerability disclosure program.</p>
            </div>

          
        </div>
    </div>

    </main>

    <%- include('./includes/footer.ejs') %> 














    