<%- include('./includes/head.ejs') %> 
</head>


<%- include('./includes/header.ejs') %> 
    
    <main>
       
    <div class="container">
        <div class="row">
            <div class="col-md-4 my-3">
                <div class="card border-0 my-3">
                        <img src="assets//img/contact1.jpg" class="img-fluid" alt="">
                        <h3 class="my-3">Consumers <span><i class="fas fa-arrow-right"></i></span></h3>
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="card border-0 my-3">
                        <img src="assets//img/contact2.jpg" class="img-fluid" alt="">
                        <h3 class="my-3">Consumers <span><i class="fas fa-arrow-right"></i></span></h3>
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="card border-0 my-3">
                        <img src="assets//img/contact3.jpg" class="img-fluid" alt="">
                        <h3 class="my-3">Consumers <span><i class="fas fa-arrow-right"></i></span></h3>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-5 my-3">
                
                    <h3>Global Mondelēz International Headquarters</h3>
                    <p class="mt-5 mb-0">905 West Fulton Market, Suite 200</p>
                    <p class="mb-0">Chicago, IL, 60607, USA</p>
                    <p class="mb-0">Phone: <a href="tel:+1 847-943-4000">+1 847-943-4000 </a></p>
            </div>
            <div class="col-md-5 my-3">
                <h3>Vulnerability Disclosure Program</h3>
                    <p>Mondelēz International takes vulnerability disclosures seriously and appreciates security researchers’ efforts. Mondelēz International is committed to establishing a transparent and open communication with researchers.
                    </p>
                    <br> 

                    <p>If you believe you have discovered a security issue in one of our systems, please notify us immediately through our vulnerability disclosure program.</p>
            </div>

          
        </div>
    </div>

    </main>

    <%- include('./includes/footer.ejs') %> 














    