<%- include('./includes/head.ejs') %> 


<p class="head-design"><a href="#">Our statement on the war in Ukraine.</a></p>

<%- include('./includes/header.ejs') %> 


    <main>  

          <!------------------------------- carousal ------------------------- -->
    <div  style="background: url('assets/img/purple.jpg ') center / cover no-repeat ; margin-top: -2%;">
      <div class="mycontainer">
          <div class="row">
              <div class="py-100 col-lg-6 col-md-12 col-sm-12">
                  <h3 class="heading f-19">THOUGHT LEADERSHIP</h3>
                  <h1 class="pt-5 heading f-80">Expanded Role of Snacking</h1>
                  <h2 class="pt-4 f-40 heading">State of Snacking™ Report provides insight into consumer needs</h2>
                  <a class="carousal-btn mt-md-5 mt-3" href="#" type="button">View Report</a>
              </div>
              <div class="col-lg-6"></div>
          </div>
      </div>
  </div>
  <!-------------------------- slider -------------------------->
  <div class="bg-grey">
      <div class="container-fluid">
          <div class="slider row">
              <div class="col-lg-12">
                  <div class="box">
                      <img class="img-style" src="assets/img/Tang.png" alt="">
                  </div>
              </div>
              <div class="col-lg-12">
                  <div class="box">
                      <img class="img-style" src="assets/img/Trident.png" alt="">
                  </div>
              </div>
              <div class="col-lg-12">
                  <div class="box">
                      <img class="img-style" src="assets/img/belVita.png" alt="">
                  </div>
              </div>
              <div class="col-lg-12">
                  <div class="box">
                      <img class="img-style" src="assets/img/Oreo.png" alt="">
                  </div>
              </div>
              <div class="col-lg-12">
                  <div class="box">
                      <img class="img-style" src="assets/img/Halls.png" alt="">
                  </div>
              </div>
              <div class="col-lg-12">
                  <div class="box">
                      <img class="img-style" src="assets/img/Milka.png" alt="">
                  </div>
              </div>
              <div class="col-lg-12">
                  <div class="box">
                      <img class="img-style" src="assets/img/Cadbury.png" alt="">
                  </div>
              </div>
              <div class="col-lg-12">
                  <div class="box">
                      <img class="img-style" src="assets/img/Philadelphia.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="mycontainer">
      <div class="row justify-content-between">
          <div class="col-lg-5">
              <h5 class="p-4 small-word clr-purple"><b>BUSINESS</b></h5>
              <h1 class="f-90 ">Reporting Fourth Quarter and FY 2021 Results</h1>
              <h2 class="para ">Delivered high-quality growth in 2021</h2>
              <a class="text-center simple-btn" href="#" type="button">Learn More</a>
          </div>
          <div class="col-lg-7">
              <img src="assets/img/purple.jpg" class="simple-img " alt="">
          </div>
      </div>
  </div>
  <div class="mt-5 mycontainer">
      <div class="row justify-content-between">
          <div class="col-lg-7 order-md-1  ">
              <img src="assets/img/purple.jpg" class="simple-img " alt="">
          </div>
          <div class="col-lg-5 order-1 order-md-2 ">
              <h5 class="p-4 small-word clr-purple"><b>SUSTAINABILITY</b></h5>
              <h1 class="f-90 ">Commitment to a 2050 Net Zero Emissions Target</h1>
              <h2 class="para ">Bold step forward in ambition to build a more sustainable snacking company</h2>
              <a class="text-center simple-btn" href="#" type="button">Learn More</a>
          </div>
          
      </div>
  </div>
  <div class="mt-5 mycontainer justify-content-between">
      <div class="row">
          <div class="col-lg-5">
              <h5 class="p-4 small-word clr-purple"><b>SUSTAINABILITY</b></h5>
              <h1 class="f-90 ">Advancing Global Efforts in Plastic Waste Collection and Recycling</h1>
              <h2 class="para ">Investment in Circulate Capital’s Ocean Fund a significant step toward helping achieve
                  a circular economy</h2>
              <a class="text-center simple-btn" href="#" type="button">Learn More</a>
          </div>
          <div class="col-lg-7">
              <img src="assets/img/NEPRA-1.jpg" class="simple-img " alt="">
          </div>
      </div>
  </div>
  <div class="mycontainer mt-5">
      <h1 class="px-3 pur-heading">Recent News</h1>
      <div class="row ">
          <div class="col-lg-3 divider">
              <p class="link-sty f-13 "><a class="hov-clr" href="#"><b>Thursday, March 17, 2022</b></a></p>
              <h3 class="link-sty f-20 "><a class="hov-clr" href="">Mondelēz International Announces Pricing For
                      Its Previously Announced Cash Tender Offer</a></h3>
          </div>
          <div class="col-lg-3 divider">
              <p class="link-sty f-13 "><a class="hov-clr" href="#"><b>Thursday, March 17, 2022</b></a></p>
              <h3 class="link-sty f-20 "><a class="hov-clr" href="">Mondelēz International Announces an Increase of
                      the Maximum Tender Amount and the Early Tender Results of Its Previously Announced Cash Tender
                      Offer</a></h3>
          </div>
          <div class="col-lg-3 divider">
              <p class="link-sty f-13 "><a class="hov-clr" href="#"><b>Wednesday, March 16, 2022</b></a></p>
              <h3 class="link-sty f-20 "><a class="hov-clr" href="">Mondelēz International Announces Redemption Price
                      for 0.625% Notes Due 2022</a></h3>
          </div>
          <div class="col-lg-3">
              <p class="link-sty f-13 "><a class="hov-clr" href="#"><b>Thursday, March 03, 2022</b></a></p>
              <h3 class="link-sty f-20 "><a class="hov-clr" href="">Mondelēz International Calls for Redemption of
                      0.625% Notes Due 2022</a></h3>
          </div>
      </div>
      <div class="text-center">
          <a class="news-btn" href="#" type="button">See All</a>
      </div>
  </div>

    </main>
    <%- include('./includes/footer.ejs') %> 