<%- include('./includes/head.ejs') %>
    </head>
    <%- include('./includes/header.ejs') %>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />



        <main>
            <div class="container my-5">
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="clr-purple">HOME / SNACKING MADE RIGHT / </h5>
                        <h2 class="pur-heading">ESG AT MDLZ</h2>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-right">
                            <ul class="p-0 d-flex list-unstyled justify-content-end my-icons">
                                <li class="px-2"><a href="#"><i class="about-icon fab fa-facebook-f"></i></i></a>
                                </li>
                                <li class="px-2"><a href="#"><i class="about-icon fab fa-twitter"></i></a></li>
                                <li class="px-2"><a href="#"><i class="about-icon fab fa-linkedin"></i></a></li>
                                <li class="px-2"><a href="#"><i class="about-icon fas fa-envelope"></i></a></li>
                                <li class="px-2"><a href="#"><i class="about-icon fas fa-print"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mycontainer">
                <h4 class="pt-4 font-weight-normal">
                    Successful companies do more than focus on financial results, they create value for the world at
                    large and positively impact the lives of those around them. Now, more than ever, is the time for
                    companies to do what’s right.<br><br>

                    That’s why we are increasing our focus and reaffirming our commitment to our Environment, Social
                    Impact and Governance (ESG) priorities.<br><br>

                    <h1 class="my-5  pr-5 green font-weight-normal">Our Approach</h1>
                    <h4 class="pt-4 font-weight-normal">
                        Simply put, ESG at Mondelēz International is about doing business the right way in order to
                        drive sustainable business growth.<br><br>

                        As a global snacking leader, we have a responsibility to reduce our impact on the environment,
                        have a positive impact on society and conduct ourselves in an ethical, efficient and inclusive
                        manner.<br><br>

                        These are the key areas of focus which define how we approach ESG at MDLZ:
                        <br><br>
                    </h4>

                </h4>
            </div>
            <div class="mycontainer mt-5">
                <div class="row ">
                    <div class="col-lg-4">
                        <ul class="list-unstyled">
                            <li class="mb-5">
                                <h4 class="font-weight-normal"> <b>ENVIRONMENTAL</b></h4>
                            </li>
                            <li class="my-2">
                                <h5 class="font-weight-normal"> Sustainable ingredients</h5>
                            </li>
                            <li class="my-2">
                                <h5 class="font-weight-normal">Environmental fotprint</h5>
                            </li>
                            <li class="my-2">
                                <h5 class="font-weight-normal"> Packaging innovation</h5>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="list-unstyled">
                            <li class="mb-5">
                                <h4 class="font-weight-normal"> <b>SOCIAL</b></h4>
                            </li>
                            <li class="my-2">
                                <h5 class="font-weight-normal"> Consumer well-being</h5>
                            </li>
                            <li class="my-2">
                                <h5 class="font-weight-normal"> Social sustainability</h5>
                            </li>
                            <li class="my-2">
                                <h5 class="font-weight-normal">Safety and Quality</h5>
                            </li>
                            <li class="my-2">
                                <h5 class="font-weight-normal">Diversity and inclusion</h5>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="list-unstyled">
                            <li class="mb-5">
                                <h4 class="font-weight-normal"> <b>GOVERNANCE</b></h4>
                            </li>
                            <li class="my-2">
                                <h5 class="font-weight-normal"> Human capital management</h5>
                            </li>
                            <li class="my-2">
                                <h5 class="font-weight-normal"> Compliance</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mycontainer">
                <h1 class="mt-5  pr-5 green font-weight-normal">Our Commitment</h1>
                <h4 class="pt-4 font-weight-normal">
                    Doing what’s right is ingrained in our Purpose and Strategy and has been a priority for the Mondelēz
                    International’s Leadership Team and Board of Directors since the company’s inception. It’s also
                    embedded across all levels of the organization, with business units and senior leaders held
                    accountable for delivering progress toward our ESG goals<br><br>

                    We remain committed as ever to our long-term ESG agenda, especially in the face of challenges
                    presented by COVID-19 pandemic. We will continue to enhance our disclosure in this area by aligning
                    our metrics and reporting to frameworks that investors and others use. Our level of engagement on
                    these topic is also evolving, promoting even more dialogue with all our stakeholders including
                    investors.

                    <br><br>
                </h4>

            </div>
            <div class="text-center">
                <a class="news-btn" href="#" type="button">MEET OUR ESG PLATFORM - SNACKING MADE RIGHT</a>
            </div>


        </main>

        <%- include('./includes/footer.ejs') %>