<%- include('./includes/head.ejs') %>
    </head>
    <%- include('./includes/header.ejs') %>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />



        <main>
            <div class="container my-5">
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="clr-purple">HOME / MEDIA /</h5>
                        <h2 class="pur-heading">PRESS RELEASES</h2>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-right">
                            <ul class="p-0 d-flex list-unstyled justify-content-end my-icons">
                                <li class="px-2"><a href="#"><i class="about-icon fab fa-facebook-f"></i></i></a>
                                </li>
                                <li class="px-2"><a href="#"><i class="about-icon fab fa-twitter"></i></a></li>
                                <li class="px-2"><a href="#"><i class="about-icon fab fa-linkedin"></i></a></li>
                                <li class="px-2"><a href="#"><i class="about-icon fas fa-envelope"></i></a></li>
                                <li class="px-2"><a href="#"><i class="about-icon fas fa-print"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mycontainer mt-5">
                <h1 class="my-5  pr-5 green font-weight-normal">Global News</h1>
                <div class="row ">
                    <div class="col-lg-3 divider">
                        <p class="link-sty f-13 "><a class="hov-clr" href="#"><b>Thursday, March 17, 2022</b></a></p>
                        <h3 class="link-sty f-20 "><a class="hov-clr" href="">Mondelz International Announces Pricing
                                For
                                Its Previously Announced Cash Tender Offer</a></h3>
                    </div>
                    <div class="col-lg-3 divider">
                        <p class="link-sty f-13 "><a class="hov-clr" href="#"><b>Thursday, March 17, 2022</b></a></p>
                        <h3 class="link-sty f-20 "><a class="hov-clr" href="">Mondelz International Announces an
                                Increase of
                                the Maximum Tender Amount and the Early Tender Results of Its Previously Announced Cash
                                Tender
                                Offer</a></h3>
                    </div>
                    <div class="col-lg-3 divider">
                        <p class="link-sty f-13 "><a class="hov-clr" href="#"><b>Wednesday, March 16, 2022</b></a></p>
                        <h3 class="link-sty f-20 "><a class="hov-clr" href="">Mondelz International Announces
                                Redemption Price
                                for 0.625% Notes Due 2022</a></h3>
                    </div>
                    <div class="col-lg-3">
                        <p class="link-sty f-13 "><a class="hov-clr" href="#"><b>Thursday, March 03, 2022</b></a></p>
                        <h3 class="link-sty f-20 "><a class="hov-clr" href="">Mondelz International Calls for
                                Redemption of
                                0.625% Notes Due 2022</a></h3>
                    </div>
                </div>
                <div class="text-center">
                    <a class="news-btn" href="#" type="button">See All</a>
                </div>
            </div>

            <div class="mycontainer mt-5">
                <h1 class="my-5  pr-5 green font-weight-normal">Local Newsrooms</h1>
                <div class="row ">
                    <div class="col-lg-4">
                        <h5 class="pt-5 link-press"><a class="hov-clr" href="#"><b>Argentina</b></a></h5><br>
                        <h5 class="link-press"><a class="hov-clr" href="#"><b>Australia</b></a></h5><br>
                        <h5 class="link-press"><a class="hov-clr" href="#"><b>Brazil</b></a></h5><br>
                        <h5 class="link-press"><a class="hov-clr" href="#"><b>China</b></a></h5><br>
                        <h5 class="link-press"><a class="hov-clr" href="#"><b>India</b></a></h5><br>
                        <h5 class="link-press"><a class="hov-clr" href="#"><b>Egypt</b></a></h5><br>
                        <h5 class="link-press"><a class="hov-clr" href="#"><b>Ireland</b></a></h5><br>

                    </div>
                    <div class="col-lg-4">
                        <h5 class="pt-5 link-press"><a class="hov-clr" href="#"><b>Indonesia</b></a></h5><br>
                        <h5 class="link-press"><a class="hov-clr" href="#"><b>Malasia</b></a></h5><br>
                        <h5 class="link-press"><a class="hov-clr" href="#"><b>Philipines</b></a></h5><br>
                        <h5 class="link-press"><a class="hov-clr" href="#"><b>Russia</b></a></h5><br>
                        <h5 class="link-press"><a class="hov-clr" href="#"><b>Singapore</b></a></h5><br>
                        <h5 class="link-press"><a class="hov-clr" href="#"><b>South Africa</b></a></h5><br>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="pt-5 link-press"><a class="hov-clr" href="#"><b>ThaiLand </b></a></h5><br>
                        <h5 class="link-press"><a class="hov-clr" href="#"><b>Turkey</b></a></h5><br>
                        <h5 class="link-press"><a class="hov-clr" href="#"><b>UAE Saudi Arabia</b></a></h5><br>
                        <h5 class="link-press"><a class="hov-clr" href="#"><b>Ukraine</b></a></h5><br>
                        <h5 class="link-press"><a class="hov-clr" href="#"><b>United Kingdoms</b></a></h5><br>
                        <h5 class="link-press"><a class="hov-clr" href="#"><b>Vietnam</b></a></h5><br>
                    </div>
                </div>
            </div>


        </main>

        <%- include('./includes/footer.ejs') %>