<%- include('./includes/head.ejs') %> 

<%- include('./includes/header.ejs') %> 



<main>
    
    <div class="mycontainer mt-5">
        <div class="row">
            <div class="col-lg-6">
                <h5 class="clr-purple">HOME /</h5>
                <h2 class="about-heading">SNACKING MADE RIGHT</h2>
            </div>
            <div class="col-lg-6">
                <div class="text-right">
                    <ul class="p-0 d-flex list-unstyled justify-content-end">
                        <li><a class="mx-5 " href="#"><i class="about-icon fab fa-facebook-f"></i></i></a>
                        </li>
                        <li><a class="mx-5 " href="#"><i class="about-icon fab fa-twitter"></i></a></li>
                        <li><a class="mx-5 " href="#"><i class="about-icon fab fa-linkedin"></i></a></li>
                        <li><a class="mx-5 " href="#"><i class="about-icon fas fa-envelope"></i></a></li>
                        <li><a class="mx-5 " href="#"><i class="about-icon fas fa-print"></i> </a></li>
                    </ul>
                </div>
            </div>
            <h1 class="font-weight-normal pr-5 pl-3 green">Our Sustainability Framework & Well-Being Strategy</h1>
        </div>
    </div>
    <div class="mycontainer">
        <div class="my-5 row justify-content-between">
            <div class="col-lg-6">
                <p class="f-18 ">
                    Our Mission is to lead the future of snacking by offering the right snack, for the right moment,
                    made the right way. We call this Snacking Made Right.<br><br>

                    Snacking Made Right is the lens through which we view ESG and a framework for our sustainability and
                    well-being agendas.<br><br>

                    <b> The right snack…</b><br><br>

                    This is about giving people a wide range of high-quality snacks so they can make great informed
                    choices. From indulgent treats to wholesome bites, we want to create snacks that people truly love
                    and feel good about.<br><br>

                    <b>…for the right moment…</b><br><br>

                    This is about making it easy for people to enjoy snacks wherever they are in the world, whatever
                    time of day and to do so mindfully.<br><br>

                    <b> …made the right way</b>
                    <br><br>
                    This is about taking the lead in making sure our snacks are not only right for people but also right
                    for the planet – from the raw materials we rely on to the communities we live in and work with and
                    the climate we all need to care for.<br><br>

                    Learn more about our purpose to <b>empower people to snack right:</b><br><br>


                </p>
            </div>
            <div class="col-lg-6">
                <img src="assets/img/purpose.jpg" class=" img-fluid" alt="">
                <p class="small pl-5 font-weight-bold mt-2 f-12"><em>
                        <b> RIGHT SNACK: </b> BROAD PORTFOLIO + WELL-BEING – make a broader assortment of delicious,
                        high-quality snacks, iconic gobal and local brands that nourish life's moments.<br><br>

                        <b> RIGHT MOMENT: </b> EASY ACCESS + MINDFUL SNACKING – offer a range of snacks from indulgent
                        to
                        wholesome and everything inbetween, convenient and innovative formats, always locally
                        relevent.<br><br>

                        <b> RIGHT WAY: </b> SUSTAINABLE SNACKING + TAKE A STAND – celebrate our proud heritage as makers
                        and
                        bakers, advance our sustainable sourcing and packaging and obsess over consumer-inspired quality
                        <br><br>
                    </em></p>
            </div>
        </div>
    </div>
    <div class="mycontainer">
        <div class="mb-5 row">
            <div class="col-lg-3">
                <img src="assets/img/a.jpg" class="my-2 article-img-holder img-portrait" alt="">
            </div>
            <div class="col-lg-3">
                <img src="assets/img/4.jpg" class="my-2 article-img-holder img-portrait" alt="">
            </div>
            <div class="col-lg-3">
                <img src="assets/img/6.jpg" class="my-2 article-img-holder img-portrait" alt="">
            </div>
        </div>
    </div>
    <div class="mycontainer">
        <div class="col-lg-12">
            <h1 class="font-weight-normal pr-5 green">Our Sustainability Framework & Well-Being Strategy</h1>
            <p class="f-18 ">
                At Mondelēz International, we’re on a mission to lead the future of snacking by creating snacks the
                right way for both people and planet to love. We’re focused on making our snacks more sustainably by
                using less energy, water and waste, with ingredients consumers know and trust. We have specific goals to
                which we hold ourselves accountable, and we’re continuing to make progress and scale our efforts to
                deliver meaningful change.
                <br><br>
                To this end, we have a clear approach and have set transparent <b>goals to achieve by 2025</b>:
            </p>
        </div>
    </div>

    <div class="mycontainer mt-5">
        <div class="row slider1">
            <div class="col-lg-12 divider">
                <h1 class="mb-4 font-weight-normal green">100%</h1>
                <h3 class="link-sty f-20 ">Mondelēz International Announces Pricing For
                    Its Previously Announced Cash Tender Offer</h3>
            </div>
            <div class="col-lg-12 divider">
                <h1 class="mb-4 font-weight-normal green">100%</h1>
                <h3 class="link-sty f-20 ">Mondelēz International Announces Pricing For
                    Its Previously Announced Cash Tender Offer</h3>
            </div>
            <div class="col-lg-12 divider">
                <h1 class="mb-4 font-weight-normal green">100%</h1>
                <h3 class="link-sty f-20 ">Mondelēz International Announces Pricing For
                    Its Previously Announced Cash Tender Offer</h3>
            </div>
            <div class="col-lg-12 divider">
                <h1 class="mb-4 font-weight-normal green">100%</h1>
                <h3 class="link-sty f-20 ">Mondelēz International Announces Pricing For
                    Its Previously Announced Cash Tender Offer</h3>
            </div>
            <div class="col-lg-12 divider">
                <h1 class="mb-4 font-weight-normal green">100%</h1>
                <h3 class="link-sty f-20 ">Mondelēz International Announces Pricing For
                    Its Previously Announced Cash Tender Offer</h3>
            </div>
        </div>
    </div>
    <div class="my-5 mycontainer">
        <h1 class="px-2 pur-heading">Sustainability News</h1>
        <div class="row slider2">
            <div class="col-lg-12">
                <img src="assets/img/a.jpg" class="ht-25 img-fluid" alt="">
                <h6 class="snack-link  font-weight-bold "><a class="hov-clr" href="">Mondelēz International
                        Announces Pricing For Its Previously Announced Cash Tender Offer
                        <i class='green fas fa-arrow-right'></i></a></h6>
                <h6 class=" snack-link font-weight-bold mt-2 "><a class="hov-clr" href="">sustainability</a></h6>
            </div>
            <div class="col-lg-12">
                <img src="assets/img/forest-positive-article.jpg" class="ht-25 img-fluid" alt="">
                <h6 class="snack-link  font-weight-bold "><a class="hov-clr" href="">Mondelēz International
                        Announces Pricing For Its Previously Announced Cash Tender Offer
                        <i class='green fas fa-arrow-right'></i></a></h6>
                <h6 class=" snack-link font-weight-bold mt-2 "><a class="hov-clr" href="">sustainability</a></h6>
            </div>
            <div class="col-lg-12">
                <img src="assets/img/c.jpg" class="ht-25 img-fluid" alt="">
                <h6 class="snack-link  font-weight-bold "><a class="hov-clr" href="">Mondelēz International
                        Announces Pricing For Its Previously Announced Cash Tender Offer
                        <i class='green fas fa-arrow-right'></i></a></h6>
                <h6 class=" snack-link font-weight-bold mt-2 "><a class="hov-clr" href="">sustainability</a></h6>
            </div>
            <div class="col-lg-12">
                <img src="assets/img/forest-positive-article.jpg" class="ht-25 img-fluid" alt="">
                <h6 class="snack-link  font-weight-bold "><a class="hov-clr" href="">Mondelēz International
                        Announces Pricing For Its Previously Announced Cash Tender Offer
                        <i class='green fas fa-arrow-right'></i></a></h6>
                <h6 class=" snack-link font-weight-bold mt-2 "><a class="hov-clr" href="">sustainability</a></h6>
            </div>
        </div>
        <div class="text-center">
            <a class="text-center simple-btn" href="#" type="button">View More</a>
        </div>
    </div>
    <div class="mycontainer">
        <h1 class="font-weight-normal pr-5 green mb-5">Explore More</h1>
        <div class="mb-5 row text-center justify-content-center">
            <div class="col-lg-4">
                <img src="assets/img/1.jpg" class=" img-fluid" alt="">
                <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">OUR WAY OF DOING BUSINESS <i
                            class='green fas fa-arrow-right'></i></a></h3>
            </div>
            <div class="col-lg-4">
                <img src="assets/img/2.jpg" class=" img-fluid" alt="">
                <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">DIVERSITY & INCLUSION <i
                            class='green fas fa-arrow-right'></i></a></h3>
            </div>
            <div class="col-lg-4">
                <img src="assets/img/3.jpg" class=" img-fluid" alt="">
                <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">DIVERSITY & INCLUSION <i
                            class='green fas fa-arrow-right'></i></a></h3>
            </div>
        </div>
    </div>
    <div class="my-5 mycontainer">
        <div class=" row justify-content-center text-center">
            <div class="col-lg-4">
                <img src="assets/img/4.jpg" class=" img-fluid" alt="">
                <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">OUR WAY OF DOING BUSINESS <i
                            class='green fas fa-arrow-right'></i></a></h3>
            </div>
            <div class="col-lg-4">
                <img src="assets/img/5.jpg" class=" img-fluid" alt="">
                <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">DIVERSITY & INCLUSION <i
                            class='green fas fa-arrow-right'></i></a></h3>
            </div>
            <div class="col-lg-4">
                <img src="assets/img/6.jpg" class=" img-fluid" alt="">
                <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">DIVERSITY & INCLUSION <i
                            class='green fas fa-arrow-right'></i></a></h3>
            </div>
        </div>
    </div>






</main>








<%- include('./includes/footer.ejs') %> 