
<%- include('./includes/head.ejs') %> 

<%- include('./includes/header.ejs') %> 


<div class="mycontainer mt-5">
    <div class="row">
        <div class="col-lg-6">
            <h5 class="clr-purple">HOME /</h5>
            <h2 class="about-heading">STATE OF SNACKING</h2>
        </div>
        <div class="col-lg-6">
            <div class="text-right">
                <ul class="p-0 d-flex list-unstyled justify-content-end">
                    <li><a class="mx-5 " href="#"><i class="about-icon fab fa-facebook-f"></i></i></a>
                    </li>
                    <li><a class="mx-5 " href="#"><i class="about-icon fab fa-twitter"></i></a></li>
                    <li><a class="mx-5 " href="#"><i class="about-icon fab fa-linkedin"></i></a></li>
                    <li><a class="mx-5 " href="#"><i class="about-icon fas fa-envelope"></i></a></li>
                    <li><a class="mx-5 " href="#"><i class="about-icon fas fa-print"></i> </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="mycontainer my-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-7">
            <h3 class="pl-3 display-4 green "> 2021 Global Consumer Snacking Trends Study</h3>
            <p class="link-sty mt-3">Mondelēz International's annual State of Snacking™ report is a global snack trends study examining examining the role of snacking in the lives of global consumers. The 2021 report reveals proprietary findings around the expanded role snacking plays in consumers lives, snacking as a source of well-being, and shifting purchasing trends.</p>
            <p class="link-sty">The State of Snacking report, developed in partnership with consumer polling specialist The Harris Poll, complements Mondelēz International’s global snacking insights with new research conducted among thousands of consumers across twelve countries to inform the company’s ongoing strategy to become the global leader in snacking by offering the the right snack, for the right moment, made the right way.</p>
        </div>
        <div class="col-md-5">
            <img src="assets/img/snack.png" class="img-fluid" alt="">
        </div>
    </div>
</div>

<div class="mycontainer my-5">
    <div class="row justify-content-start align-items-center">
        <div class="col-md-4">
            <img src="assets/img/women.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-8 text-left">
            <h3 class="pl-3 display-4 green "> Executive Summary</h3>
            <p class="link-sty mt-3">As the world continues to evolve and adapt to changing dynamics as a result of the pandemic, staying close to our global consumers remains a top priority. The third annual State of Snacking report highlights the expanding role snacking plays in the lives of consumers, including:</p>
            <ul>
                <li>As consumers’ lives changed over the past few years, their definition of what a snack can be has evolved and snacking has begun to take on new meaning</li>
                <li>Consumers are seeking snacks as well-being boosters throughout their daily lives</li>
                <li>Snacking is both a source of nutrition and indulgence, of social connection, inspiration, and purpose</li>
                <li>Consumers are craving seamless integration of purchase options and inspiration in their everyday lives</li>
                <li>Acceleration of snacking with purpose amidst a broader global consciousness</li>
              
            </ul>
    
    
        </div>
        
    </div>
</div>


<div class="mycontainer my-5">
    <h2 class="about-heading"> Report Archive  </h2>
    <p > <a href="" class="link-sty hov-clr">  2020 STATE OF SNACKING GLOBAL REPORT </a> </p>
    <p > <a href="" class="link-sty hov-clr">  2020 STATE OF SNACKING GLOBAL REPORT </a> </p>
</div>



<%- include('./includes/footer.ejs') %> 



