<%- include('./includes/head.ejs') %>
    </head>
    <%- include('./includes/header.ejs') %>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />



        <main>
            <div class="container my-5">
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="clr-purple">HOME / CAREERS /</h5>
                        <h2 class="pur-heading">EARLY CAREERS AREAS</h2>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-right">
                            <ul class="p-0 d-flex list-unstyled justify-content-end my-icons">
                                <li class="px-2"><a href="#"><i class="about-icon fab fa-facebook-f"></i></i></a>
                                </li>
                                <li class="px-2"><a href="#"><i class="about-icon fab fa-twitter"></i></a></li>
                                <li class="px-2"><a href="#"><i class="about-icon fab fa-linkedin"></i></a></li>
                                <li class="px-2"><a href="#"><i class="about-icon fas fa-envelope"></i></a></li>
                                <li class="px-2"><a href="#"><i class="about-icon fas fa-print"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            <div class="mb-5 " style="background: url('assets/img/Career-Areas-Hero.png') center / cover no-repeat">
                <div class=" p-50p text-center">
                    <a class="search-btn" href="#" type="button">Search Jobs & Apply</a>
                </div>
            </div>


            <div class="m-10p my-5 mycontainer">
                <div class="mt-5 row justify-content-center">
                    <div class="col-lg-4">
                        <img src="assets/img/c1.png" class=" img-fluid" alt="">
                        <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">WHO WE ARE <i
                                    class='green fas fa-arrow-right'></i></a></h3>
                    </div>
                    <div class="col-lg-4">
                        <img src="assets/img/c2.png" class=" img-fluid" alt="">
                        <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">WHO WE ARE <i
                                    class='green fas fa-arrow-right'></i></a></h3>
                    </div>
                    <div class="col-lg-4">
                        <img src="assets/img/c3.png" class=" img-fluid" alt="">
                        <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">Our leadership <i
                                    class='green fas fa-arrow-right'></i></a></h3>
                    </div>
                    <div class="col-lg-4">
                        <img src="assets/img/c4.png" class=" img-fluid" alt="">
                        <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">WHO WE ARE <i
                                    class='green fas fa-arrow-right'></i></a></h3>
                    </div>
                    <div class="col-lg-4">
                        <img src="assets/img/c5.png" class=" img-fluid" alt="">
                        <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">WHO WE ARE <i
                                    class='green fas fa-arrow-right'></i></a></h3>
                    </div>
                    <div class="col-lg-4">
                        <img src="assets/img/c6.png" class=" img-fluid" alt="">
                        <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">Our leadership <i
                                    class='green fas fa-arrow-right'></i></a></h3>
                    </div>
                    <div class="col-lg-4">
                        <img src="assets/img/c7.png" class=" img-fluid" alt="">
                        <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">WHO WE ARE <i
                                    class='green fas fa-arrow-right'></i></a></h3>
                    </div>
                    <div class="col-lg-4">
                        <img src="assets/img/c8.png" class=" img-fluid" alt="">
                        <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">WHO WE ARE <i
                                    class='green fas fa-arrow-right'></i></a></h3>
                    </div>
                    <div class="col-lg-4">
                        <img src="assets/img/c9.png" class=" img-fluid" alt="">
                        <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">Our leadership <i
                                    class='green fas fa-arrow-right'></i></a></h3>
                    </div>
                    <div class="col-lg-4">
                        <img src="assets/img/who.jpg" class=" img-fluid" alt="">
                        <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">WHO WE ARE <i
                                    class='green fas fa-arrow-right'></i></a></h3>
                    </div>
                    <div class="col-lg-4">
                        <img src="assets/img/who.jpg" class=" img-fluid" alt="">
                        <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">WHO WE ARE <i
                                    class='green fas fa-arrow-right'></i></a></h3>
                    </div>
                    <div class="col-lg-4">
                        <img src="assets/img/lead.jpg" class=" img-fluid" alt="">
                        <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">Our leadership <i
                                    class='green fas fa-arrow-right'></i></a></h3>
                    </div>
                    <div class="col-lg-4">
                        <img src="assets/img/who.jpg" class=" img-fluid" alt="">
                        <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">WHO WE ARE <i
                                    class='green fas fa-arrow-right'></i></a></h3>
                    </div>
                    <div class="col-lg-4">
                        <img src="assets/img/who.jpg" class=" img-fluid" alt="">
                        <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">WHO WE ARE <i
                                    class='green fas fa-arrow-right'></i></a></h3>
                    </div>
                    <div class="col-lg-4">
                        <img src="assets/img/lead.jpg" class=" img-fluid" alt="">
                        <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">Our leadership <i
                                    class='green fas fa-arrow-right'></i></a></h3>
                    </div>
                </div>
            </div>

            <div class="my-5 mycontainer">
                <h1 class="my-5  pr-5 green font-weight-normal">EXPLORE MORE</h1>

                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <img src="assets/img/who.jpg" class=" img-fluid" alt="">
                        <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">WHO WE ARE <i
                                    class='green fas fa-arrow-right'></i></a></h3>
                    </div>
                    <div class="col-lg-6">
                        <img src="assets/img/lead.jpg" class=" img-fluid" alt="">
                        <h3 class="link-sty f-20 font-weight-bold"><a class="hov-clr" href="">Our leadership <i
                                    class='green fas fa-arrow-right'></i></a></h3>
                    </div>
                </div>
            </div>



            <div class="mycontainer my-5">
                <div class="row">
                    <div class="col-lg-4 mx-auto my-3">
                        <a class="career-btn text-center" href="#" type="button">SEARCH JOBS & APPLY</a>
                    </div>
                    <div class="col-lg-5 mx-auto my-3">
                        <a class="career-btn2 text-center" href="#" type="button">JOIN OUR TALENT COMMUNITY</a>
                    </div>
                </div>
            </div>


        </main>

        <%- include('./includes/footer.ejs') %>