<%- include('./includes/head.ejs') %>
    </head>
    <%- include('./includes/header.ejs') %>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />



        <main>
            <div class="container my-5">
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="clr-purple">HOME / ABOUT US / WHO WE ARE / </h5>
                        <h2 class="pur-heading">GROWTH & STRATEGY</h2>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-right">
                            <ul class="p-0 d-flex list-unstyled justify-content-end my-icons">
                                <li class="px-2"><a href="#"><i class="about-icon fab fa-facebook-f"></i></i></a>
                                </li>
                                <li class="px-2"><a href="#"><i class="about-icon fab fa-twitter"></i></a></li>
                                <li class="px-2"><a href="#"><i class="about-icon fab fa-linkedin"></i></a></li>
                                <li class="px-2"><a href="#"><i class="about-icon fas fa-envelope"></i></a></li>
                                <li class="px-2"><a href="#"><i class="about-icon fas fa-print"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-2 h-50p" style="background: url('assets/img/growth.png') center / cover no-repeat">
            </div>
            <div class="mycontainer">
                <h1 class="my-5  pr-5 green font-weight-normal">Growth & Strategy</h1>

                <h5 class="pt-4 font-weight-normal">
                    The lines between meals and snacks are blurring, and consumers are never satisfied picking between
                    taste and nutrition, affordability and quality, snack-time and meal-time. From an on-the-go “second
                    breakfast” to a mindful moment of indulgence in the evening, consumers decide what and how they want
                    to eat.<br><br>

                    People have less free time as they work longer hours with longer commutes. They want snacks that
                    support a healthy lifestyle, providing nourishment and nutrition for their active, busy lives.
                    <br><br>
                    When snacking, there is a desire for convenient and delicious options that people can feel good
                    about eating made with less energy, water, and waste - all with ingredients they know and trust.
                    <br><br>
                    That’s why at Mondelēz International, we’re using our unique portfolio of flavorful brands to
                    fulfill the global need for snacking. We’re leading the future of snacking by focusing on three
                    strategic priorities.<br><br>
                    <h4 class="pt-5 "><b>Growth</b></h4><br>
                    <h5 class="font-weight-normal">
                        Our consumers are the reason we want to be the best snacking company in the world and why we put
                        them at the heart of everything we do. With our consumers in mind, we're focused on accelerating
                        growth by investing in both our global and local heritage brands. We are implementing innovative
                        ideas and tactics at all levels, driving growth in new channels, and building new and existing
                        partnerships that best serve our consumers.
                    </h5>
                    <h4 class="pt-5 "><b>Execution</b></h4><br>
                    <h5 class=" font-weight-normal">
                        We're focused on continuously improving everything we do - from building a world-class supply
                        chain to achieving marketing and sales excellence. A key component to our operational
                        performance is our digital transformation. This approach, made possible by our vast capabilities
                        and diverse culture, helps identify and enable additional growth opportunities.
                    </h5>
                    <h4 class="pt-5 "><b>Culture</b></h4><br>
                    <h5 class="font-weight-normal">
                        We empower our local teams to innovate and deliver consumers’ snacking needs while continuing to
                        leverage opportunity on a larger scale to most efficiently support our growth strategy. Mondelēz
                        International is committed to investing in a diverse and talented workforce that helps our
                        business move forward with greater speed and agility.
                    </h5>

                </h5>
            </div>



        </main>

        <%- include('./includes/footer.ejs') %>