<%- include('./includes/head.ejs') %>

    <%- include('./includes/header.ejs') %>



        <div class="mycontainer mt-5">
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="clr-purple">HOME / MEDIA </h5>
                    <h2 class="about-heading">ASSET LIBRARY</h2>
                </div>
                <div class="col-lg-6">
                    <div class="text-right">
                        <ul class="p-0 d-flex list-unstyled justify-content-end">
                            <li><a class="mx-5 " href="#"><i class="about-icon fab fa-facebook-f"></i></i></a>
                            </li>
                            <li><a class="mx-5 " href="#"><i class="about-icon fab fa-twitter"></i></a></li>
                            <li><a class="mx-5 " href="#"><i class="about-icon fab fa-linkedin"></i></a></li>
                            <li><a class="mx-5 " href="#"><i class="about-icon fas fa-envelope"></i></a></li>
                            <li><a class="mx-5 " href="#"><i class="about-icon fas fa-print"></i> </a></li>
                        </ul>
                    </div>
                </div>
                <p class="my-5"> View and download our corporate and brand fact sheets, our corporate logos, product and
                    manufacturing b-roll videos. </p>
            </div>
        </div>




        <div class="mycontainer">
            <h2 class="about-heading my-5">Corporate LogoS</h2>
            <div class="row justify-content-around text-center">
                <div class="col-md-5">
                    <img src="assets/img/mondal1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-5">
                    <img src="assets/img/mondal2.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>

        <div class="mycontainer">
            <h2 class="about-heading my-5">Corporate VideoS </h2>
            <div class="row justify-content-around text-center">
                <div class="col-md-5">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CMjg0nQHZ-g"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Coj8Xn-VQOc"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="mycontainer">
            <h2 class="about-heading my-5">Corporate IMAGES </h2>
            <div class="row justify-content-around text-center">
                <div class="col-md-5">
                    <img src="assets/img/pic.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-5">

                </div>
            </div>
        </div>

        <div class="mycontainer">
            <div class="row justify-content-around text-left">
                <div class="col-md-5">
                    <h2 class="about-heading my-5">Corporate Fact Sheets </h2>
                    <ul class="list-unstyled">
                        <li class="my-4"><a href="" class="hov-clr"> MONDELĒZ INTERNATIONAL FACTSHEET</a></li>
                        <li class="my-4"><a href="" class="hov-clr"> COCOA LIFE</a></li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <h2 class="about-heading my-5">brand Fact Sheets </h2>
                    <ul class="list-unstyled">
                        <li class="my-4"><a href="" class="hov-clr"> BELVITA</a></li>
                        <li class="my-4"><a href="" class="hov-clr"> CADBURY</a></li>
                        <li class="my-4"><a href="" class="hov-clr">HALLS</a></li>
                        <li class="my-4"><a href="" class="hov-clr">MILKA</a></li>
                        <li class="my-4"><a href="" class="hov-clr">OREO</a></li>
                        <li class="my-4"> <a href="" class="hov-clr">PHILADELPHIA</a></li>
                        <li class="my-4"><a href="" class="hov-clr">TANG</a></li>
                        <li class="my-4"><a href="" class="hov-clr">TOBLERONE</a></li>
                        <li class="my-4"><a href="" class="hov-clr">TRIDENT</a></li>
                    </ul>
                </div>
            </div>
        </div>






        <%- include('./includes/footer.ejs') %>