<%- include('./includes/head.ejs') %> 
</head>
<%- include('./includes/header.ejs') %> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"  />



    <main>

       
    <div class="my-4 container-fluid hero-section">

    </div>  


    <div class="container my-4">
        <div class="row justify-content-around align-items-center">
            <div class="col-md-5 my-3">
                
                    <h3>About Us</h3>
                    <p class="mt-5 ">Home to three-quarters of the world’s population, AMEA is one of the four operating regions of Mondelēz International. While we are a diverse region, we’re connected across different economies and consumers by our mission to lead the future of snacking by offering the right snack, for the right moment, made the right way.</p>
                        <br>
                    <p class="mb-0">We are a mix of mature and emerging markets with global brands and local jewels such as Oreo and Chips Ahoy! cookies, Cadbury Dairy Milk chocolate, Tang and Bournvita powdered beverages, Kinh Do mooncakes, Stride gum, and Philadelphia cheese. Our AMEA region starts the day in Auckland, New Zealand and finishes in Casablanca, Morocco. Representing 76 nationalities, we work across 13 time zones. We make, market and sell global and local brands to consumers in +70 markets.</p>

            </div>
            <div class="col-md-5 my-3"> 
                <img src="assets/img/asia.png" class="img-fluid" alt="">
            </div>

          
        </div>
    </div>



    <div class="container">
        <div class="row justify-content-around mt-4">
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand1.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand2.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand3.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand4.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand5.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand6.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand7.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand8.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand9.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand10.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row justify-content-around my-5">
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand11.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand12.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand13.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand14.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand15.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand16.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand17.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand18.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand19.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-1 my-3 text-center">
                <img src="assets/img/brand20.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

    <div class="m-auto text-center my-5">
        <button class="btn btn-primary">Learn More About Countries in AMEA</button>
    </div>


    <div class="container my-5">
        <div class="row justify-content-around align-items-start">
            <div class="col-md-5 my-3">
                
                    <h3 class="my-4">Where WE Operate In AMEA</h3>
                   <img src="assets/img/asia2.JPG" class="img-fluid" alt="">
            </div>
            <div class="col-md-5 my-3">
                <h3>Vulnerability Disclosure Program</h3>
                    <p>Mondelēz International takes vulnerability disclosures seriously and appreciates security researchers’ efforts. Mondelēz International is committed to establishing a transparent and open communication with researchers.
                    </p>
                    <br> 
                    <p>If you believe you have discovered a security issue in one of our systems, please notify us immediately through our vulnerability disclosure program.</p>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
        <div class="col-md-4">
                <h3 class="mb-4">General / Product Enquiries</h3>
                <p>We have offices in most Asia Pacific countries. Please contact any one of our offices below if you have any inquiries or use our contact forms.</p>
                <p>Asia Pacific Headquarters (65) 68297888</p>
                <p>Australia/ New Zealand (61 3) 96765555</p>
                <p>China (86 21) 60808080</p>
                <p>India (91 22) 23514556</p>
                <p>Indonesia (62 21) 79198822</p>
                <p>Japan (813) 54876226</p>
                <p>Malaysia (603) 78726688</p>
                <p>Nigeria +234 12717777</p>
                <p> Philippines (63 2) 8157238</p>
                <p>Singapore (65) 63036900</p>
                <p>South Africa +27 112534000</p>
                <p>Taiwan (88 62) 87982900</p>
        </div>
        <div class="col-md-4 border border-top-0 border-bottom-0">
                <h3 class="mb-4">Media</h3>
                <p>For country specific-contacts, click here.</p>
        </div>
        <div class="col-md-4">
                <h3 class="mb-4">Office Location</h3>
        </div>
        </div>
    </div>

    </main>

    <%- include('./includes/footer.ejs') %> 

    
      
      
    